body{background-color:#ffffff;color:#000000}
#usrbar {color:red;background:#ffffff}
#usrbar a{color:#0000ff}

#header{height:109px;background:#ffffff}

#header div.tit{top:8px;left:20px;line-height:22px;font-size:20px;font-family:黑体;background:#ffffff;color:#0000ff1}
#header div.tit a.titlink{color:#FF0000;text-decoration:none;}
#header div.tit a.titlink:visited{color:#ff000;text-decoration:none}
#header div.desc{top:33px;left:20px;color:#0000ff;font-size:13px}

#tab{top:86px;background:#ffffff}
#tab a.on,#tab a.on:link,#tab a.on:visited{margin-top:3px;border-left:1px solid #0000ff;border-right:1px solid #0000ff;border-top:1px solid #0000ff;line-height:19px;background-color:#ffffff;color:#197CAE;font-size:14px}
#tab span{color:#0000ff;font-size:14px;background:#ffffff}
#tab a:link{color:#008000;text-decoration:none;font-size:14px;background:#ffffff;font-weight:bold;}
#tab a:visited{color:#008000;text-decoration:none;font-size:14px;background:#ffffff;font-weight:bold;}
#tab a:hover{color:#ff0000;text-decoration:none;font-size:20px;background:#ffffff;font-weight:bold;}
#tab2{background:#ffffff;color:#00ee11}
#tab2 span{color:#0000ff;font-size:12px;font-weight:bold;background:#ffffff}
#tab2 a{font-size:12px;background:#ffffff;color:#00ee11}
#tab2 a:link{color:#0000ff}
#tab2 a:visited{color:#0000ff}
#tab2 a:hover{color:#ff0000}
.stage{background:#ffffff}

#comm_info{color:#0000ff;font-family:Arial;text-align:left}
#comm_info div.line{margin-top:5px;line-height:8px;border-top:1px solid #D2E9F4}
#comm_info a{color:#008000}

#page{height:30px;font-size:14px;font-family:Arial;text-align:center}
#page span{padding:3px;color:#000000;font-size:14px;font-weight:bold}
#page a.pc{color:#ff0000;font-size:14px;font-weight:bold}
#page a.pc:visited{color:#ff0000}
#page a.pi{padding:3px;color:#ff0000;font-size:14px}
#page a.pi:visited{color:#ff0000}
#page a{color:red}
/*内容模块*/
.mod{margin:4px 4px 4px 4px}
.modhandle{cursor:move}
/*内容模块:头部*/
.modth{height:24px;}
.modhead{padding:4px 4px 0 4px;background-color:#FFFFAA;}
.modopt{padding:4px 4px 0 0;background-color:#FFFFAA;}
.modtit{color:#B34D4D;font-size:15px;font-weight:bold;width:100%}a.modtit{color:#008000}a.modtit:visited{color:#008000}
.modtitlink{color:#0000ff;font-size:12px;font-weight:bold}a.modtitlink{color:#0000ff;text-decoration:none}a.modtitlink:visited{color:#008000;text-decoration:none}a.modtitlink:hover{color:#FF5100;text-decoration:underline}
.modact{color:#0000ff;font-size:12px;}a.modact:link{color:#008000}a.modact:visited{color:#008000}
/*内容模块:内容*/
.modbox{padding:1px 1px 1px 1px;}
.modbox a{color:#0000ff;text-decoration:none}
.modbox a:link{color:#0000ff;text-decoration:none}
.modbox a:visited{color:#0000ff;text-decoration:none}
.modbox a:hover{color:#ff0000;text-decoration:none}
.modtl{background:#ffffff no-repeat top left;line-height:1px}
.modtc{background:#ffffff repeat-x}
.modtr{background:#ffffff no-repeat top right;line-height:1px}
.modbl{background-color:#ffffff;line-height:1px}
.modbc{background-color:#ffffff;line-height:1px}
.modbr{background-color:#ffffff;line-height:1px}
.modlabel{color:#000;font-size:14px;font-weight:bold}

div.item a:hover{color:#ff0000;text-decoration:none}
div.item a:link{color:#0000ff;text-decoration:none}
div.item a:visited{color:#0000ff;text-decoration:none}

div.item a.user:hover{color:#ff0000;text-decoration:none}
div.item a.user:link{color:#0000ff;text-decoration:none}
div.item a.user:visited{color:#0000ff;text-decoration:none}

div.item a.cnt:hover{color:#ff0000;text-decoration:none}
div.item a.cnt:link{color:#008000;text-decoration:none}
div.item a.cnt:visited{color:#008000;text-decoration:none}

div.line{margin-top:17px;line-height:17px;border-top:1px solid #D2E9F4}

#m_cang div.item a:hover{color:#ff0000;text-decoration:none}
#m_cang div.item a:link{color:#008000;text-decoration:none}
#m_cang div.item a:visited{color:#008000;text-decoration:none}

#m_blog div.tit{font-size:14px;font-weight:bold}
#m_blog div.tit a{color:#0000ff;font-size:14px;font-weight:bold;}
#m_blog div.tit a:visited{color:#0000ff}
#m_blog div.tit a:link{color:#0000ff}
#m_blog div.tit a:hover{color:#ffffff;font-size:14px;font-weight:bold;background-color:#0000ff;}
#m_blog div.date{margin:5px 0 8px 0;color:#666666}
#m_blog div.cnt {color:#0000ff;line-height:20px;font-size:14px}

#m_blog div.more{margin:14px 0 16px 0}
#m_blog div.more a{color:#008000;font-size:14px}
#m_blog div.more a:visited{color:#008000}
#m_blog div.more a:hover{color:#ff0000}
#m_blog div.opt{color:#666666;font-size:12px}
#m_blog div.opt a{color:#008000;font-size:12px}
#m_blog div.opt a:visited{color:#008000}
#m_blog div.opt a:hover{color:#ff0000}
#m_blog div.line{margin-top:17px;line-height:17px;border-top:1px solid #D2E9F4}
#m_blog div.none{padding:100px 0 100px 0;color:#0000ff;font-size:14px}

#m_pro a{color:#008000}
#m_pro a:visited{color:#008000}
#m_pro div.image{text-align:center}
#m_pro div.act{margin-top:10px}
#m_pro div.user{margin-top:10px;color:#0000ff;font-size:12px;font-weight:bold}
#m_pro div.desc{color:#0000ff;font-size:12px}
#m_pro div.line{margin-top:17px;line-height:17px;border-top:1px solid #D2E9F4}
#m_pro td{color:#0000ff;line-height:24px;font-size:14px}

#m_album div.image{text-align:center}
#m_album div.page{color:#666666;font-size:12px;text-align:center}
#m_album div.page a{color:#0000CC;font-size:12px}
#m_album div.page a:visited{color:#008000}
#m_album .phpage{margin-top:10px;padding-bottom:5px;text-align:center}
#m_links div.item{color:#008000;font-size:12px}
#m_links div.item a{color:#0000ff;font-size:12px;text-decoration:none}
#m_links div.item a:visited{color:#0000ff}
#m_links div.item a:hover{color:#ff0000}
#m_links div.line{margin-top:5px;line-height:8px;border-top:1px solid #D2E9F4}

#m_mylink1 div.item{color:#ff0000;font-size:12px}
#m_mylink1 div.item a{color:#008000;font-size:12px;text-decoration:none}
#m_mylink1 div.item a:visited{color:#008000}
#m_mylink1 div.line{margin-top:5px;line-height:8px;border-top:1px solid #D2E9F4}

#m_mylink2 div.item{color:#0000ff;font-size:12px}
#m_mylink2 div.item a{color:#008000;font-size:12px;text-decoration:none}
#m_mylink2 div.item a:visited{color:#008000}
#m_mylink2 div.line{margin-top:5px;line-height:8px;border-top:1px solid #D2E9F4}

#m_mylink3 div.item{color:#0000ff;font-size:12px}
#m_mylink3 div.item a{color:#008000;font-size:12px;text-decoration:none}
#m_mylink3 div.item a:visited{color:#008000}
#m_mylink3 div.line{margin-top:5px;line-height:8px;border-top:1px solid #D2E9F4}

#m_mylink4 div.item{color:#0000ff;font-size:12px}
#m_mylink4 div.item a{color:#008000;font-size:12px;text-decoration:none}
#m_mylink4 div.item a:visited{color:#008000}
#m_mylink4 div.line{margin-top:5px;line-height:8px;border-top:1px solid #D2E9F4}

#m_artclg div.item{color:#666666;font-size:12px}
#m_artclg div.item a{color:#008000;font-size:12px}
#m_artclg div.item a:visited{color:#008000}
#m_artclg div.line{margin-top:5px;line-height:8px;border-top:1px solid #D2E9F4}

#m_filed div.item{color:#666666;font-size:12px}
#m_filed div.item a{color:#008000;font-size:12px}
#m_filed div.item a:visited{color:#008000}
#m_filed div.line{margin-top:5px;line-height:8px;border-top:1px solid #D2E9F4}

#m_comment div.line{margin-top:5px;line-height:8px;border-top:1px solid #D2E9F4}

#m_albumlist div.note{color:#0000ff;font-size:14px}
#m_albumlist div.desc{margin-bottom:12px;padding:3px 10px 3px 10px;line-height:22px;background-color:#ffffff;font-size:14px;color:red}
#m_albumlist div.none{padding:100px 0 100px 0;color:#0000ff;font-size:14px}
#m_albumlist div.line{margin-top:10px;line-height:16px;border-top:1px solid #D2E9F4}
#m_albumlist div.tit{margin:6px 0 7px 0;color:#0000ff;font-size:14px}
#m_albumlist div.tit a{color:#008000;font-size:14px}
#m_albumlist div.tit a:visited{color:#008000}
#m_albumlist span.count{color:#666666;font-size:12px;font-weight:bold}
#m_albumlist span.size{color:#999999;font-size:12px;font-family:Arial}
#m_albumlist a.act{color:#ff0000;font-size:12px}
#m_albumlist a.act:visited{color:#ff0000}
#m_albumlist a.page{color:#0000CC;font-size:14px}
#m_albumlist a.page:visited{color:#0000CC}
#m_albumlist td.image{padding:5px;border:1px solid #999999;background:#0000ff}
#m_albumlist .phbox{margin-top:15px;margin-left:15px}
#m_albumlist .phbox .phpage{color:#636363;font-size:14px}
#m_albumlist .phbox .phinfo{margin:6px 0 2px 0;color:#636363;font-size:12px}
#m_albumlist .phbox .phimg{margin-bottom:10px}

#m_friend div.filter{margin-bottom:10px;padding-left:10px;padding-top:10px;height:27px;line-height:27px}
#m_friend div.catalog{margin-bottom:10px;padding-left:10px;height:27px;line-height:27px;background-color:#F2F2F2;font-size:14px}
#m_friend div.user{margin-top:4px;color:#0000ff;font-size:12px}
#m_friend div.user a{color:#008000;font-size:12px}
#m_friend div.user a:visited{color:#008000}
#m_friend div.line{margin-top:10px;line-height:16px;border-top:1px solid #D2E9F4}

#m_setting a{color:#008000}
#m_setting a:visited{color:#008000}
#m_setting{line-height:22px;color:#0000ff;font-size:14px}
#m_setting img.sel{border:4px solid #FFDB7B}
#m_setting img.unsel{border:1px solid #D2D2D2}
#m_setting span.tit{font-size:14px}
#m_setting span.usr{color:#666666}
#m_setting div.sel{padding-top:6px;font-size:14px;font-weight:bold}
#m_setting div.line{margin-top:20px;line-height:16px;border-top:1px solid #D2E9F4}

#m_sysinfo a{color:#0000ff}
#m_sysinfo a:visited{color:#008000}
#m_sysinfo{line-height:22px;color:#0000ff;font-size:14px}
#m_sysinfo span.new{color:#FF0000;font-size:10px;font-family:Arial}
#m_sysinfo span.date{color:#666666;font-size:14px}

#m_setbase{color:#0000ff;font-size:14px}
#m_setbase td{color:#0000ff;font-size:14px}
#m_setbase div.line{margin-top:5px;line-height:8px;border-top:1px solid #D2E9F4}

#in_comment{width:710px}
#in_comment div.tit{margin-bottom:12px;color:#0000ff;font-size:14px;font-weight:bold}
#in_comment div.user{margin-bottom:6px;color:#0000ff;font-size:12px}
#in_comment div.user a{color:#008000;font-size:12px}
#in_comment div.user a:visited{color:#008000}
#in_comment div.user span.date{color:#666666;font-size:12px}
#in_comment div.desc{color:#0000ff;font-size:12px}
#in_comment div.line{margin-top:17px;line-height:17px;border-top:1px solid #D2E9F4}

#in_send div.tit{margin:10px 0 10px 0;color:#0000ff;font-size:14px;font-weight:bold}
.radio {color:#008000} 